@model E_Commerce_Site.Models.Color

@{
    ViewBag.Title = "Details";
}

<h2>Color Details</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColorId }) <br /><br />
    @Html.ActionLink("Back to List", "Index")
</p>
