@model E_Commerce_Site.Models.SubCategory

@{
    ViewBag.Title = "Details";
}

<h2> Sub-Category Details</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
Category Name:        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
Sub-Category Name:        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
